[submodule "langchain-hub"]
	path = langchain-hub
	url = https://github.com/hwchase17/langchain-hub.git
[submodule "Auto-GPT"]
	path = Auto-GPT
	url = https://github.com/Significant-Gravitas/Auto-GPT.git
